html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

/* Змінні */
:root {
	--main-color: #f5f5f5;
	--header-color: #ffffff;
	--footer-color: #2f303a;
	--action-color: #2196f3;
	--font-main-color: #757575;
	--font-submain-color: #212121;
	--button-passive-color: #f5f4fa;
}

/*________________________ Глобальні стилі __________________*/
body {
	background-color: var(--header-color);
	color: var(--font-main-color);
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}

/* reset start */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

.link {
	text-decoration: none;
	color: currentColor;
}

.list {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	display: block;
}

/* reset end */

.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}

/* __________________Утиліти_________________ */
.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.link {
	text-decoration: none;
}

.title,
.subtitle {
	color: var(--font-submain-color);
}

.invisible {
	visibility: hidden;
	position: absolute;
	width: 0px;
	height: 0px;
	margin: 0px;
	border: 0;
	padding: 0;
}


/* -----------------------Хедер------------------------ */
.header {
	background-color: var(--header-color);
	border-bottom: 1px solid #ECECEC;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}



.logo {
	color: #000000;
	font-family: "Raleway";
	font-weight: 700;
	font-size: 26px;
	line-height: calc(31/26);
	letter-spacing: 0.03em;

	margin-right: 93px;
}

.logo-name-web {
	color: var(--action-color);
}

.current.link {
	color: var(--action-color);
}

/* ___________________nav__________________ */

.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.nav-list {
	display: flex;
	flex-direction: row;
	gap: 50px;
	margin: 32px 0;
}

.nav-list a {

	color: var(--font-submain-color);
	font-weight: 500;
	line-height: calc(16/14);
	letter-spacing: 0.02em;
}

.nav-list a:hover,
.nav-list a:focus {
	color: var(--action-color);
}

/* ____________contacts____________ */

.contacts-list {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.contacts-list a {
	color: var(--font-main-color);
	font-weight: 500;
	line-height: calc(16/14);
	letter-spacing: 0.02em;
}

.contacts-list a:hover,
.contacts-list a:focus {
	color: var(--action-color);
}

/* Hero*/
.hero,
.footer {
	background-color: var(--footer-color);
}

.hero>.container {
	padding-top: 200px;
	padding-bottom: 200px;
	margin-bottom: 94px;
}

.hero-title {
	margin: 0 auto 30px auto;
	padding: 0;
	color: var(--header-color);
	font-weight: 900;
	font-size: 44px;
	line-height: calc(60/44);
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	width: 696px;
}

.hero-button {
	min-width: 216px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;

	padding: 10px 32px;

	color: var(--header-color);
	background-color: var(--action-color);
	border: none;
	cursor: pointer;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(30/16);
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
}

.hero-button:hover,
.hero-button:focus,
.hero-button:active {
	color: var(--header-color);
	background-color: #188ce8;
	border: none;
	cursor: pointer;
}


/* -----------------------------main----------------------------- */

.advences.subtitle {
	margin-bottom: 8px;


	line-height: calc(16/14);
	letter-spacing: 0.03em;
	text-transform: uppercase;
}


.advences-list {
	display: flex;
	flex-direction: row;
	gap: 30px;

	margin-bottom: 94px;
}

.advences-list-item-p {

	line-height: calc(24/14);
	letter-spacing: 0.03em;
}

.our-team {
	background-color: var(--button-passive-color)
}

.working.title,
.our-team-title {

	font-size: 36px;
	line-height: calc(42/36);
	text-align: center;
	letter-spacing: 0.03em;
}

.working.title,
.our-team-title.title {
	margin-bottom: 50px;
}

.working-list {
	display: flex;
	gap: 30px;
	margin-bottom: 94px;
}

.our-team-title {
	padding-top: 94px;
}

.team-members {
	display: flex;
	flex-direction: row;
	gap: 30px;
	padding-bottom: 94px;
}

.member {
	background-color: #fff;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}

.member>img{
	margin-bottom: 30px;
}

.members-subtitle {
	margin-bottom: 10px;

	font-weight: 500;
	font-size: 16px;
	line-height: calc(19/16);
	text-align: center;
	letter-spacing: 0.03em;
}

.members-position {
	margin-bottom: 30px;

	font-size: 16px;
	line-height: calc(19/16);
	text-align: center;
	letter-spacing: 0.03em;
}

/* ________________Футер______________ */

.footer a {
	color: var(--header-color);
}

.footer-logo{
	display: inline-block;
	padding-top: 60px;
	margin-right: 0;
	margin-bottom: 20px;
}

.address-list{
	display: inline-block;
	margin-bottom: 60px;
}


.address-list-item {
	font-style: normal;
	line-height: calc(24/14);
	letter-spacing: 0.03em;
}

.address-list-item:not(:last-child){
	margin-bottom: 9px;
}

.adress-connect.link {
	color: rgba(255, 255, 255, 0.6);
}

.adress-connect.link:active,
.adress-connect.link:hover,
.adress-connect.link:focus {
	color: var(--action-color);
}

/* portfolio */

button {
	font-family: inherit;
}

.item-button {
	color: var(--font-submain-color);
	background-color: var(--button-passive-color);
	border-radius: 4%;
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: calc(26/16);
	text-align: center;
	letter-spacing: 0.03em;
	border-style: none;
}

.item-button:hover,
.item-button:focus {
	color: var(--header-color);
	background-color: var(--action-color);
	border-radius: 4%;
}

.exp.subtitle {

	font-size: 18px;
	line-height: calc(36/18);
	letter-spacing: 0.06em;
}

.exp-p {
	font-size: 16px;
	line-height: calc(30/16);
	letter-spacing: 0.03em;
}